/* --------------------------------- GENERAL -------------------------------- */
html {
  height: 100%;
  color: #04301B;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100%;
  margin: 0;
  background: linear-gradient(
    217deg,
    rgba(0, 255, 135, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  ), linear-gradient(127deg, rgba(32, 238, 142, 0.616), rgba(0, 255, 135, 0.65) 70.71%),
  linear-gradient(336deg, rgba(85, 216, 155, 0.616), rgba(4, 48, 27, 0.73) 70.71%);
  background-size: 100% 100%, cover;
  background-repeat: repeat-y;
  padding: 0%
}

.nav-logo{
  height: 60px;
  width: 105px;
  transition: transform .2s; /* Animation */
}

.nav-logo:hover {
  transform: scale(1.1);
}


nav{
  background-color:rgba(255, 255, 255, 0.5)!important;
}

nav a{
  color:rgb(4, 48, 27);
}

nav a:hover{
  color:rgb(41, 126, 85);
}

button{
  background-color: #E9E7EB !important;
  border: 2px solid #04301B !important;
  color: #04301B !important;
}

/* --------------------------------- HOME --------------------------------- */
.home-page{
  /* padding: 25%;
  padding-top: 15%; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.home-title
{
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    rgb(4, 48, 27) 0%,
    #2d0d41 29%,
    #4f3378 67%,
    #1a7c47 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.home-intro{
  height: 50%;
  margin-bottom: 5%;
  border: 1px solid black;
  width: 60%;
}

/* --------------------------------- ROSTER --------------------------------- */
.roster-textarea{
  width: 600px;
  height: 100px;
  border: 0px;
}


/* ---------------------------------- SIGNUP --------------------------------- */

#signup-form input{
  border: none;
  border-bottom: 2px #04301B solid;
  background-color: transparent;
}

#signup-form ::placeholder {
  color: rgba(41, 41, 41, 0.819);
}

#signup{
  min-width: 100%;
  min-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup textarea{
  background-color: rgba(255, 255, 255, 0.5);
}

.card{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

#right{
  display: inline;
}

#left{
  display: inline;
}

.form-group{
  padding-top: 1%;
  padding-bottom: 1%;
}

signup

/* ---------------------------------- player or coach --------------------------------- */

#player-coach-page{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 160, 122, 0.65); */
}

#player-coach-box{
  height: 100%;
  width: 60%;
  margin: 5%;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8%;
}

#player-coach-box h3{
  text-align: center;
  color:rgb(4, 48, 27);
}

#player-coach-opts{
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
}

#submit-btn{
  border: none !important;
  background-color:rgba(255, 255, 255, 0.5)!important;
  width: 100%;
  height: 15%;
  color: rgb(4, 48, 27);
  transition: transform .2s;
}

#submit-btn:hover{
  transform: scale(1.07);
}

/* ---------------------------------- LOGIN --------------------------------- */
#login{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-box{
  width: 80%;
  padding: 4%;
  /* background-color: #E9E7EB; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8%;
}