<!DOCTYPE html>
<html lang="en" style = 'background-image: url('/static/img/sportsy_bg.png')'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>
<body class = 'base-body'>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" >
                    <img class = "nav-logo" href="{{ url_for('static', filename='img/logo.png') }}">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                  aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarID">
                  <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">home</a>
                      <a class="nav-link active" aria-current="page" href="{{ url_for('roster') }}">roster</a>
                      <a class="nav-link active" aria-current="page" href="{{ url_for('calendar') }}">calendar</a>
                      <a class="nav-link active" aria-current="page" href="{{ url_for('profile') }}">profile</a>
                      
                  </div>
              </div>
          </div>
      </nav>
  {% block body %}{% endblock %}
</body>
</html>