<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>
<body>
    <p>hi</p>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">sportsy</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                  aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarID">
                  <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="index.html">home</a>
                      <a class="nav-link active" aria-current="page" href="index.html">roster</a>
                      <a class="nav-link active" aria-current="page" href="calendar.html">calendar</a>
                      <a class="nav-link active" aria-current="page" href="profile.html">profile</a>
                      
                  </div>
              </div>
          </div>
      </nav>"
  {% block body %}{% endblock %}
</body>
</html>