{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
<style>
    td:hover{
        color:#E9E7EB;
    }

    p{text-align: center;}

    h3{text-align: center;}

    h4{text-align: center;}
</style>
<h1>Calendar</h1>
<h3>Upcoming Events:</h3>
<p id="pop_text"></p>

	<table border="0" cellpadding="5" cellspacing="5" class="month" td onclick="event()">
    	<tr>
      	  <th colspan="7" class="month">{{month}}&nbsp;{{year}}</th>
		</tr>

		<tr>
        <th class="mon">M</th>
        <th class="tue">T</th>
        <th class="wed">W</th>
        <th class="thu">T</th>
        <th class="fri">F</th>
        <th class="sat">S</th>
        <th class="sun">S</th>
		</tr>

		<tr>
        <td class="mon" onclick = "myFunction('{{events[0]}}')">{{days[0]}}</td>
        <td class="tue" onclick = "myFunction('{{events[1]}}')">{{days[1]}}</td>
        <td class="wed" onclick = "myFunction('{{events[2]}}')">{{days[2]}}</td>
        <td class="thu" onclick = "myFunction('{{events[3]}}')">{{days[3]}}</td>
        <td class="fri" onclick = "myFunction('{{events[4]}}')">{{days[4]}}</td>
        <td class="sat" onclick = "myFunction('{{events[5]}}')">{{days[5]}}</td>
        <td class="sun" onclick = "myFunction('{{events[6][0]}}')">{{days[6]}}</td>
		</tr>
		

		<tr>
        <td class="mon" onclick = "myFunction('{{events[7]}}')">{{days[7]}}</td>
        <td class="tue" onclick = "myFunction('{{events[8]}}')">{{days[8]}}</td>
        <td class="wed" onclick = "myFunction('{{events[9]}}')">{{days[9]}}</td>
        <td class="thu" onclick = "myFunction('{{events[10]}}')">{{days[10]}}</td>
        <td class="fri" onclick = "myFunction('{{events[11]}}')">{{days[11]}}</td>
        <td class="sat" onclick = "myFunction('{{events[12]}}')">{{days[12]}}</td>
        <td class="sun" onclick = "myFunction('{{events[13]}}')">{{days[13]}}</td>
		</tr>
    	
		<tr>
        <td class="mon" onclick = "myFunction('{{events[14]}}')">{{days[14]}}</td>
        <td class="tue" onclick = "myFunction('{{events[15]}}')">{{days[15]}}</td>
        <td class="wed" onclick = "myFunction('{{events[16]}}')">{{days[16]}}</td>
        <td class="thu" onclick = "myFunction('{{events[17]}}')">{{days[17]}}</td>
        <td class="fri" onclick = "myFunction('{{events[18]}}')">{{days[18]}}</td>
        <td class="sat" onclick = "myFunction('{{events[19]}}')">{{days[19]}}</td>
        <td class="sun" onclick = "myFunction('{{events[20]}}')">{{days[20]}}</td>
   		</tr>
    	
		<tr>
        <td class="mon" onclick = "myFunction('{{events[21]}}')">{{days[21]}}</td>
        <td class="tue" onclick = "myFunction('{{events[22]}}')">{{days[22]}}</td>
        <td class="wed" onclick = "myFunction('{{events[23]}}')">{{days[23]}}</td>
        <td class="thu" onclick = "myFunction('{{events[24]}}')">{{days[24]}}</td>
        <td class="fri" onclick = "myFunction('{{events[25]}}')">{{days[25]}}</td>
        <td class="sat" onclick = "myFunction('{{events[26]}}')">{{days[26]}}</td>
        <td class="sun" onclick = "myFunction('{{events[27]}}')">{{days[27]}}</td>
    	</tr>
    	
		<tr>
        <td class="mon" onclick = "myFunction('{{events[28]}}')">{{days[28]}}</td>
        <td class="tue" onclick = "myFunction('{{events[29]}}')">{{days[29]}}</td>
        <td class="wed" onclick = "myFunction('{{events[30]}}')">{{days[30]}}</td>
        <td class="thu" onclick = "myFunction('{{events[31]}}')">{{days[31]}}</td>
        <td class="fri" onclick = "myFunction('{{events[32]}}')">{{days[32]}}</td>
        <td class="sat" onclick = "myFunction('{{events[33]}}')">{{days[33]}}</td>
        <td class="sun" onclick = "myFunction('{{events[34]}}')">{{days[34]}}</td>
    	</tr>

	</table>

<script>

    function myFunction(events) {
        document.getElementById("pop_text").innerHTML = events;
    }
</script>

<!-- form -->
<h4>
<head>
    <h2>Add event</h2>
</head>
<body>
    <form method="POST" action="{{ url_for('calendar') }}">
        <label>Event name:</label>
        <input type="text" name="name" required><br><br>
        
        <label>Date:</label>
        <input type="date" name="date" required><br><br>
        
        <label>Time:</label>
        <input type="time" name="time" required><br><br>
        
        <label>Place:</label>
        <input type="text" name="place" required><br><br>
        
        <label>Extra Information:</label>
        <textarea name="extra_info" rows="4" cols="50"></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</h4>
{% endblock %}