{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<h1>welcome to sportsy.</h1>

<div class="home-box container">
    <div class="row">
        <div class="col">
            <h1>a new way to collaborate.</h1>
        </div>
        <div class="col">
            sportsy is a platform where coaches and players can keep each other up to date on each other, designed with mutual support in mind.
            <a href="{{ url_for('signup') }}">sign up today.</a>
        </div>
    </div>
</div>



{% endblock %}