{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div id="login-box">
    <h1 class = "login-head">login</h1>
    <form id='login-form' action={{ url_for("login") }} method = "post">
        <label>username: </label>
        <input name="username" id = "username" type = "text" placeholder="enter username...">

        <label>password: </label>
        <input name="password" id = "password" type = "text" placeholder="enter password...">

    </form>
</div>

{% endblock %}