{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div id="player-coach-page">
        <div class="container" id="player-coach-box">
            <h3>are you a player or a coach?</h3>
            <div class="container" id = "player-coach-opts">
                <a class="player-coach-opt" href="{{ url_for('coach_signup') }}">coach</a>
                <a class="player-coach-opt" href="{{ url_for('player_signup') }}">player</a>
            </div>     
        </div>
    </div>
{% endblock %} 