
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!--signup div-->
<div class="container-fluid" id="signup">
    <form method="POST" class="login-box" id="signup-form" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        
        <h3>sign up for sportsy</h3>
        
        <!--input if user is coach or player-->
        <div class="form-group">
            <label for="coach_or_player">are you a coach or a player?</label>

            <div class="bool-box" name="coach_or_player">
                <div class="bool-opt">
                    <label for="coach">coach</label>
                    {{ form.coach(class="form-control", id="coach") }}
                </div>

                <div class="bool-opt">
                    <label for="player">player</label>
                    {{ form.player(class="form-control", id="player") }}
                </div>
                
            </div>
            
        </div>

        <!--input first name, last name, email, password, date of birth, health information, personal bests, dominant side-->
        <div class="form-group">
            <label for="inputFN">your first name</label>
            {{ form.fname(class="form-control", placeholder="enter your first name...", id="inputFN") }}
        </div>
        
        <div class="form-group">
            <label for="inputLN">your last name</label>
            {{ form.lname(class="form-control", placeholder="enter your last name...", id="inputLN") }}
        </div>
        
        <div class="form-group">
            <label for="inputEmail">your email</label>
            {{ form.email(class="form-control", placeholder="enter your email...", id="inputEmail") }}
            <small class="form-text text-muted">your data is not shared anywhere else.</small>
        </div>
        
        <div class="form-group">
            <label for="inputPassword">your password</label>
            {{ form.password(class="form-control", placeholder="enter your password...", id="inputPassword") }}
        </div>
        
        <div class="form-group">
            <label for="confirmPassword">confirm your password</label>
            {{ form.confirm_password(class="form-control", placeholder="enter your password again...", id="confirmPassword") }}
        </div>

        <div class="form-group">
            <label for="dob">your date of birth</label>
            {{ form.dob(class="form-control", placeholder="enter your password...", id="dob") }}
            <small class="form-text text-muted">**not necessary for coaches</small>
        </div>

        <div class="form-group">
            <label for="healthinfo">your relevant health information</label>
            {{ form.healthinfo(class="form-control", placeholder="enter your health information...", id="healthinfo") }}
            <small class="form-text text-muted">**not necessary for coaches</small>
        </div>

        <div class="form-group">
            <label for="pb">your personal bests</label>
            {{ form.pb(class="form-control", placeholder="enter your password...", id="pb") }}
            <small class="form-text text-muted">**not necessary for coaches</small>
        </div>
    
        <div class="form-group">
            <label for="dom">your dominant side</label>
            <small class="form-text text-muted">**not necessary for coaches</small>

            <div class="bool-box" name="dom">

                <div class="bool-opt">
                    <label for="left">left</label>
                    {{ form.left(class="form-control", id="left") }}
                </div>

                <div class="bool-opt">
                    <label for="right">right</label>
                    {{ form.right(class="form-control", id="right") }}
                </div>
                
            </div>
            
        </div>

        <!--submit button-->
        <div class="form-group">
            {{ form.submit(id="submit-btn", class="btn btn-primary", value="sign up") }}
        </div>
    </form>
</div>

{% endblock %}